*{margin:0; padding:0;}
.col-left{
    float:none !important;
    width:0 !important;
}
.col-main{
    float:none !important;
    width:100% !important;
}
.wpwl-button{
    margin-top: 10px !important;
}
.btn_cancel {
    float: left;
    color: #fff !important;
    background-color: #aaa;
    border-color: #999;
    border-radius: 4px;
    text-decoration: none;
}
.btn_cancel:hover {
    color: #fff !important;
    background-color: #999;
}
.page-title h1{
    text-align: center !important;
}

.payment-logo{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 20px;
}
.wpwl-form{
    max-width: 40em !important;
    margin: 0 auto 2px !important;
}
.frame{
    margin:20px auto;
    width: 100%;
    max-width: 440px;
    padding:0;
}
.frametest{
    border:10px solid red;
}
.testmode{
    margin:0 auto !important;
    padding:3px 0 10px 0;
    width: 100%;
    font-size: 13px !important;
    font-weight: bold;
    color: #fff !important;
    background-color: red;
    text-align: center;
    max-width: 440px;
}
.error-box{
    margin: 10px 0px;
    background-color:#FFE6E6;
    border:1px solid #FF8E90;
    padding:5px;
}
/* css for JTL shop */

/*css for one click saved payment */
.wpwl-wrapper-registration-details{
    width: 70% !important;
    padding: 0 0 0 40px !important;
}
.wpwl-wrapper-registration-number, .wpwl-wrapper-registration-expiry{
    width: 50%;
    padding: 0;
    text-align: left;
}
.wpwl-wrapper-registration-holder{
    width:100%;
    padding: 0;
    text-align: left;
}
.wpwl-wrapper-registration-registrationId, .wpwl-brand-inline{
    margin: 12px 0 !important;
}
.wpwl-button-brand{
    min-height: 50px !important;
}
.wpwl-control{
    padding: 4px !important;
}
.wpwl-control, .wpwl-label{
    color: #333 !important;
}
.merchant-location-description{
    font-size:12px;
    margin:10px auto;
    width: 100%;
    max-width: 430px;
    padding:0 5px;
    text-align: left;
}

